<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mgh.mapper.CommunicateMapper" >
  <resultMap id="BaseResultMap" type="com.mgh.domain.Communicate" >
    <id column="communicate_id" property="communicateId" jdbcType="INTEGER" />
    <result column="communicate_time" property="communicateTime" jdbcType="DATE" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mgh.domain.Communicate" extends="BaseResultMap" >
    <result column="communicate_content" property="communicateContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    communicate_id, communicate_time, user_id, topic_id
  </sql>
  <sql id="Blob_Column_List" >
    communicate_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from communicate
    where communicate_id = #{communicateId,jdbcType=INTEGER}
  </select>
  <select id="selectCommunicateByTopic_id" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from topic,communicate where topic_id = #{topic_id} and user_id = #{user_id}
  </select>

  <select id="selectCommunicateByUser_id" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from topic communicate where topic_id = #{topic_id} and user_id != #{user_id}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from communicate
    where communicate_id = #{communicateId,jdbcType=INTEGER}
  </delete>
  <insert id="insertCommunicate" parameterType="com.mgh.domain.Communicate" >
    insert into communicate (communicate_id, communicate_time, user_id, 
      topic_id, communicate_content)
    values (#{communicateId,jdbcType=INTEGER}, #{communicateTime,jdbcType=DATE}, #{userId,jdbcType=INTEGER}, 
      #{topicId,jdbcType=INTEGER}, #{communicateContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mgh.domain.Communicate" >
    insert into communicate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="communicateId != null" >
        communicate_id,
      </if>
      <if test="communicateTime != null" >
        communicate_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="communicateContent != null" >
        communicate_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="communicateId != null" >
        #{communicateId,jdbcType=INTEGER},
      </if>
      <if test="communicateTime != null" >
        #{communicateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="communicateContent != null" >
        #{communicateContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mgh.domain.Communicate" >
    update communicate
    <set >
      <if test="communicateTime != null" >
        communicate_time = #{communicateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="communicateContent != null" >
        communicate_content = #{communicateContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where communicate_id = #{communicateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mgh.domain.Communicate" >
    update communicate
    set communicate_time = #{communicateTime,jdbcType=DATE},
      user_id = #{userId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER},
      communicate_content = #{communicateContent,jdbcType=LONGVARCHAR}
    where communicate_id = #{communicateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mgh.domain.Communicate" >
    update communicate
    set communicate_time = #{communicateTime,jdbcType=DATE},
      user_id = #{userId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER}
    where communicate_id = #{communicateId,jdbcType=INTEGER}
  </update>
</mapper>