<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mgh.mapper.TopicMapper">
    <resultMap id="BaseResultMap" type="com.mgh.domain.Topic">
        <id column="topic_id" property="topic_id" jdbcType="INTEGER"/>
        <result column="topic_content" property="topic_content" jdbcType="VARCHAR"/>
        <result column="topic_createtime" property="topic_createtime" jdbcType="DATE"/>
        <result column="user_id" property="user_id" jdbcType="INTEGER"/>
        <association property="user" javaType="com.mgh.domain.User">
            <id column="user_id" property="user_id" jdbcType="INTEGER"/>
            <result column="user_name" property="user_name" jdbcType="VARCHAR"/>
            <result column="user_pwd" property="user_pwd" jdbcType="VARCHAR"/>
            <result column="user_phone" property="user_phone" jdbcType="VARCHAR"/>
            <result column="user_type" property="user_type" jdbcType="INTEGER"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    topic_id, topic_content, topic_createtime, user_id
  </sql>
    <select id="selectTopicByUser_id" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from topic
        where user_id = #{user_id,jdbcType=INTEGER}
    </select>
    <select id="showAllTopics" resultMap="BaseResultMap">
    select * from topic,user where user.user_id = topic.user_id;
  </select>

    <select id="selectTopicBytopic_id" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from topic where topic_id = #{topic_id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic
    where topic_id = #{topic_id,jdbcType=INTEGER}
  </delete>
    <insert id="insertTopic" parameterType="com.mgh.domain.Topic">
    insert into topic (topic_id, topic_content, topic_createtime, 
      user_id)
    values (#{topic_id,jdbcType=INTEGER}, #{topic_content,jdbcType=VARCHAR}, #{topic_createtime,jdbcType=DATE},
      #{user_id,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.mgh.domain.Topic">
        insert into topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="topic_id != null">
                topic_id,
            </if>
            <if test="topic_content != null">
                topic_content,
            </if>
            <if test="topic_createtime != null">
                topic_createtime,
            </if>
            <if test="user_id != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="topic_id != null">
                #{topic_id,jdbcType=INTEGER},
            </if>
            <if test="topic_content != null">
                #{topic_content,jdbcType=VARCHAR},
            </if>
            <if test="topic_createtime != null">
                #{topic_createtime,jdbcType=DATE},
            </if>
            <if test="user_id != null">
                #{user_id,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mgh.domain.Topic">
        update topic
        <set>
            <if test="topicContent != null">
                topic_content = #{topic_content,jdbcType=VARCHAR},
            </if>
            <if test="topicCreatetime != null">
                topic_createtime = #{topic_createtime,jdbcType=DATE},
            </if>
            <if test="userId != null">
                user_id = #{user_id,jdbcType=INTEGER},
            </if>
        </set>
        where topic_id = #{topic_id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mgh.domain.Topic">
    update topic
    set topic_content = #{topic_content,jdbcType=VARCHAR},
      topic_createtime = #{topic_createtime,jdbcType=DATE},
      user_id = #{user_id,jdbcType=INTEGER}
    where topic_id = #{topic_id,jdbcType=INTEGER}
  </update>
</mapper>
