*{
    margin:0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
.header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #338FFF;
}
.header-content {
    width: 40%;
    height: 50px;
    margin: 0px auto;
    text-align: center;
}
span.content-title {
    font-size: 2.2rem;
    font-family: "微软雅黑";
     color: #fff;
}
.body-content {
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.content-image {
    width: 80px;
    height: 80px;
    margin: 0px auto;
    /* line-height: 15px; */
    text-align: center;
    margin-bottom: 30px;
}

.content-image img {
    width: 80px;
    height: 80px;
    /* line-height: 10px; */
    /* margin-top: 13px; */
    border-radius: 40px;
}

.content-form {
    width: 100%;
    height: auto;
}

form.form-login {
    width: 70%;
    margin: 0px auto;
    height: auto;
}
.form-login input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 4px;
}
input[type="button"] {
    background-color: #338FFF;
    color: white;
}
.content-bottom {
    width: 100%;
    height: 50px;
}
.goto-register {
    display: inline-block;
    width: 30%;
    height: 50px;
    line-height: 40px;
    margin-left: 18%;
}
.forget-pwd {
    display: inline-block;
    width: 21%;
    height: 50px;
    line-height: 40px;
    margin-left: 20%;
}

